.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  padding-left: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.Document-card {
  margin-right: 20px;
  margin-bottom: 20px;
  height: 150px;
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.Document-card:hover {
  cursor: pointer;
  border-color: rgb(200, 198, 196);
}

.Form-error-text {
  color: darkred;
}

.Document-card-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.box>* {
  flex: 1 1 160px;
}
